<div class="container-fluid">
        <div class="row nosotros">
            <div class="col-md-3 offset-md-5 py-5">
                <h1>Hotel Fuerte Calafate</h1>
                <p>Fuerte Calafate es una magnífica elección para los viajeros que visiten El Calafate, ya que ofrece un
                    ambiente con encanto, además de numerosos servicios diseñados para mejorar tu estancia.

                    Los puntos de referencia de los alrededores, como Avenida Libertador (2,0 km) y Plazoleta Heroes de
                    Malvinas
                    (2,6 km) hacen de Fuerte Calafate un magnífico sitio donde alojarse durante un viaje a El Calafate.

                    Disfrutarás de agradables habitaciones que incluyen mesa de escritorio, y podrás estar conectado
                    durante
                    tu
                    estancia, ya que Fuerte Calafate ofrece internet gratuito a los huéspedes.


                    ¡Disfruta de tu estancia en El Calafate!</p>
            </div>
        </div>
    </div>