 <div id="ubicacion" class="row py-4">
        <div class="col-md-6 offset-md-4">
            <h1>Ubicacion</h1>
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2547.4402071393124!2d-72.25553772406977!3d-50.321037971567726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbfe55076c725%3A0xdaf1fbe44fa5ffa6!2sHotel%20Fuerte%20Calafate!5e0!3m2!1ses-419!2sar!4v1681525384437!5m2!1ses-419!2sar"></iframe>
        </div>
    </div>

    </div>